body{
    font-family: "Poppins", sans-serif;
}
#amitpaul{
    margin-left: 200px;
    margin-top: 150px;
    
}
p{
    color:gray;
}


h1{
    color:rgb(238, 69, 97);
    font-weight: bold;
    font-size: 50px;
   
}
.half-width{
    width:40%;
    float: left;
 
}
.half-width img{
    width:120%;
    
}
a{
    padding:10px 30px;
    background-color: rgb(238, 69, 97);
    color:white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    line-height: 60px;
}
.header{
    background-image: url(images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:800px;
}
section{
    
}
.second-half{
    width: 40%;
    float: left;
    margin-top: 5%;
   

}
.second-half img{
    width:140%;

}
#biograpgy{
    padding-left: 120px;;
    padding-top: 200px;
}

#biography-area{
    background-image: url(images/biography-bg.png);
    height:800px;


}
#h2-work{
   padding:50px 0px 50px 0px;;
}
.works img{
    width:20%;
    float: left;
    padding-left: 60px;
}
#latest-works{
    height:500px;
    background-image: url(images/latest-work-bg.png);
    background-size: cover;
}

#work-1{
    padding-left: 200px;;
}
#client{
    padding:80px 0px;
    
}
#footer{
   width:50%;
    margin-left: 370px;
    height:850px;
    background-image: url(images/footer-bg.png);
    background-size: cover;
 
}
#button{
    padding: 20px 100px;
    text-align: center;
    background-color: rgb(226, 97, 119);
    width:50%;
    height: 150px;
    margin-left: 50px;;
    border-radius: 5px;
    margin-top: 70px;
    color:white;
}
footer{
    text-align: center;
    color:gray;
}
